<dl class="formRow">
	<dt>{{ phrase('at_mai_optOut:') }}</dt>
	<dd>
		<ul class="inputChoices">
			<xf:if is="$xf.options.at_mai_GDPR">
				<xf:button icon="confirm" href="#" class="button--notice" onclick="at_mai_optIn()">{{ phrase('accept') }}</xf:button>
				<xf:button icon="cancel" href="#" class="button--notice" onclick="at_mai_optIn_out()">{{ phrase('reject') }}</xf:button>
			<xf:else />	
				<li class="inputChoices-choice">
					<label class="iconic">
						<input type="checkbox" id="optout" name="optout" value="1" /><i aria-hidden="true"></i>
						<label for="optout"></label>
					</label>
				</li>
			</xf:if>
		</ul>
		<div class="formRow-explain">{{ phrase('at_mai_optOut_notice') }}</div>
	</dd>
</dl>

<xf:if is="$xf.options.at_mai_GDPR">
		<xf:js>
			function at_mai_optIn() {
				_paq.push(['rememberConsentGiven']);
			}

			function at_mai_optIn_out() {
				_paq.push(['forgetConsentGiven']);
			}
		</xf:js>
	<xf:else />	
		<xf:js>
			document.addEventListener("DOMContentLoaded", function(event) {
			  function setOptOutText(element) {
				_paq.push([function() {
				  element.checked = !this.isUserOptedOut();
				  document.querySelector('label[for=optout]').innerText = this.isUserOptedOut()
					? '{{ phrase('at_mai_optOut_out') }}'
					: '{{ phrase('at_mai_optOut_in') }}';
				}]);
			  }

			  var optOut = document.getElementById("optout");
			  optOut.addEventListener("click", function() {
				if (this.checked) {
				  _paq.push(['forgetUserOptOut']);
				} else {
				  _paq.push(['optUserOut']);
				}
				setOptOutText(optOut);
			  });
			  setOptOutText(optOut);
			});
		</xf:js>
</xf:if>