<xf:button icon="confirm" href="{{ link('account/dismiss-notice', null, {'notice_id': $notice.notice_id}) }}" class="js-noticeDismiss button--notice" data-xf-init="tooltip" title="{{ phrase('dismiss_notice') }}" onclick="at_mai_optIn()">{{ phrase('accept') }}</xf:button>
<xf:button icon="cancel" href="{{ link('account/dismiss-notice', null, {'notice_id': $notice.notice_id}) }}" class="js-noticeDismiss button--notice" data-xf-init="tooltip" title="{{ phrase('dismiss_notice') }}" onclick="at_mai_optIn_out()">{{ phrase('at_mai_optIn_notice_reject') }}</xf:button>
<xf:button href="{{ link('help/cookies') }}" class="button--notice">{{ phrase('learn_more...') }}</xf:button>

<xf:js>
	function at_mai_optIn() {
		_paq.push(['rememberConsentGiven']);
	}
	function at_mai_optIn_out() {
		_paq.push(['forgetConsentGiven']);
	}
</xf:js>