<xf:if is="$xf.options.at_mai_javaTracking">
	<script type="text/javascript">
		var _paq = _paq || [];
		<xf:if is="$xf.options.at_mai_GDPR">	_paq.push(['requireConsent']);	</xf:if>
		<xf:if is="{$xf.visitor.user_id} AND $xf.options.at_mai_trackUsername">	_paq.push(['setUserId', '{$xf.visitor.username}']);	</xf:if>
		<xf:if is="$xf.options.at_mai_trackSubdmains">	_paq.push(["setCookieDomain", "{$xf.options.at_mai_trackSubdmains}"]);	</xf:if>
		<xf:if is="$xf.options.at_mai_setDoNotTrack">	_paq.push(["setDoNotTrack", true]);	</xf:if>
		<xf:if is="$xf.options.at_mai_disableCookies">	_paq.push(["disableCookies"]);	</xf:if>
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="{$xf.options.at_mai_domain}/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '{$xf.options.at_mai_setSiteId}']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
	</script>
</xf:if>
<xf:if is="$xf.options.at_mai_imgTracking">
	<xf:if is="$xf.options.at_mai_javaTracking"><noscript></xf:if>
	<p style="position: absolute;"><img src="{$xf.options.at_mai_domain}/piwik.php?idsite={$xf.options.at_mai_setSiteId}&rec=1<xf:if is="{$xf.visitor.user_id} AND $xf.options.at_mai_trackUsername">&uid={$xf.visitor.username}</xf:if>" style="border:0;" alt="" /></p>
	<xf:if is="$xf.options.at_mai_javaTracking"></noscript></xf:if>
</xf:if>